@media only screen and (max-width: 600px) {
  .landing-content {
    flex-direction: column;
  }

  .description-col {
    width: 100%;
    margin-bottom: 2rem;
  }

  .description-content {
    padding: 0;
    text-align: center;
  }

  .description-content h1 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .description-content p {
    line-height: 1.4;
  }

  .form-col {
    width: 100%;
  }

  .ribbon {
    padding: 8px;
  }

  .form-area {
    padding: 20px;
  }

  input,
  button {
    padding: 8px;
  }

  .err-img {
    top: 8px;
    right: 25px;
  }

  .err-message,
  .email-err-message {
    margin-bottom: 10px;
  }
}
