@media only screen and (max-width: 740px) {
  .landing-content {
    column-gap: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .landing-content {
    flex-direction: column;
  }

  .description-col {
    width: 100%;
    margin-bottom: 3rem;
  }

  .description-content {
    padding: 0;
    text-align: center;
  }

  .description-content h1 {
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .form-col {
    width: 100%;
  }
}
